/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */
body {
  padding-left: 0.5rem;
}
@media (min-width: 48em) {
  html {
    font-size: 16px;
  }
  body {
    padding-left: 0;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 18px;
  }
}

.sr-only {
  // will be properly styled in the non-essential part
  display: none;
}
