/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */
body {
  padding-left: 0.5rem;
}

#shadow-main {
  display: none;
  position: fixed;
  top: 0;
  left: 0.5rem;
  width: calc(100% - 0.5rem);
  z-index: 1;
  pointer-events: none;
}

#_loading {
  display:none;
  position: fixed;
  top: 1rem;
  right: 0;
  transform-origin: top left;
  transform: scale(0.33);
}

@media (min-width: $break-point-font-1) {
  html {
    font-size: 18px;
  }
}

@media (min-width: $break-point-1) {
  html {
    font-size: 16px;
  }
  body {
    padding-left: 0;
  }

  #shadow-main {
    left: 0;
    width: 100%;
  }
}

@media (min-width: $break-point-font-2) {
  html {
    font-size: 18px;
  }
}

.sr-only {
  // will be properly styled in the non-essential part
  display: none;
}

.sixteen-nine {
  @include aspect-ratio(16, 9);
}
