code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: .25em .5em;
  font-size: .85rem;
  /* Could be mistaken for a link if the user choses a similar link-color, so better no colored inline code. */
  /*color: #bf616a;*/
  background-color: #f9f9f9;
  /*border-radius: 3px;*/
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  line-height: 1.4;
  /* Prevent code linebreaks and allow side-scrolling (much better readability on mobile) */
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #f9f9f9;

  /* Make code same width as regular text, and scroll the full page width on mobile */
  margin-left: -1rem;
  margin-right: -1rem;
}
pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  font-size: .75rem;
}
