/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */

.content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 5rem 1rem 10rem;

  @media screen {
    max-width: 38rem;
    padding: 5rem 1rem 10rem 1.5rem;
    min-height: 100vh;
  }

  @media screen and (min-width: $break-point-2) {
    max-width: 42rem;
    padding: 4rem 1rem 10rem;
    margin-left: 22rem;
    margin-right: 4rem;
  }

  @media screen and (min-width: $break-point-4) {
    margin-left: 22rem;
    margin-right: 4rem;
  }

  @media screen and (min-width: $break-point-5) {
    max-width: 48rem;
  }

  @media screen and (min-width: $break-point-dynamic) {
    margin: auto;
  }
}
