@media screen {
  .y-drawer-scrim {
    z-index: 2;
  }

  .y-drawer-content {
    width: 18rem;
    left: -17.5rem;
    z-index: 3;

    @media (min-width: $break-point-dynamic) {
      width: $dynamic-width;
    }
  }

  // header, body::before {
  //   backface-visibility: hidden;
  // }
}
