// <<<<< LINK
main > footer {
  position: absolute;
  bottom: 0;
  left: .5rem;
  right: 0;
  padding: 0 1rem;
  color: $gray;
  text-align: center;
  > p { margin-bottom: 0; }
  @media screen and (min-width: $break-point-3) { left: 0; }
}
// >>>>>
