.me {
  float: right;
  width: 6.5rem;
  height: 6.5rem;
  margin-left: 1rem;
  margin-bottom: .5rem;
  border-radius: 100%;
  position: relative;

  @media screen and (min-width: $break-point-1) {
    width: 7rem;
    height: 7rem;
  }

  @media screen and (min-width: $break-point-2) {
    width: 6.5rem;
    height: 6.5rem;
  }

  @media screen and (min-width: $break-point-3) {
    width: 7rem;
    height: 7rem;
  }
}
