// <<<<< INLINE
.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.navbar > .content {
  padding-top: 0;
  padding-bottom: 0;
  min-height: 0;
  height: 0;
  color: $gray;
}
// >>>>>

.menu {
  // <<< inline
  display: inline-block;
  padding: 1.75rem 1.5rem;
  border-bottom: none;
  margin-left: -1.5rem;

  &::after {
    content: "\2630"; // ☰
    color: $gray!important;
  }

  @media screen and (min-width: $break-point-3) {
    position: absolute;
    left: -9999px;
    &:focus { position: static; }
  }
  // >>>

  @media print { display: none; } // link
}

.animation-main {
  opacity: 0; // inline
  will-change: opacity; // inline
  pointer-events: none; // link
}

.loading {
  display: none; // inline
  // <<< link
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.75rem 1.5rem;
  // >>>
}
