.menu /*, .status*/ {
  display: block;
  padding: 1.25rem 1.5rem;
  color: #9a9a9a;
  border-bottom: none;
  position: fixed;
  top: 0;
}

.menu {
  left: 0;
  z-index: 2;
}

// .status {
//   right: 0;
//   z-index: 1;
// }

// #_error, #_loading {
//   display: none;
//   visibility: hidden;
//   line-height: 1.65;
// }

@media (min-width: $break-point-1) {
  .menu {
    position: absolute;
    left: -9999px;
    &:focus {
      left: 19.5rem;
    }
  }
}

@media (min-width: $break-point-2) {
  .menu:focus {
    left: 21.5rem;
  }
}
