.menu {
  display: block;
  padding: 1.25rem 1.5rem;
  color: #9a9a9a;
  border-bottom: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

@media (min-width: 48em) {
  .menu {
    position: absolute;
    left: -9999px;
  }
}

@media (min-width: 48em) {
  .menu:focus {
    left: 19.5rem;
  }
}

@media (min-width: 64em) {
  .menu:focus {
    left: 21.5rem;
  }
}
