.menu {
  display: block;
  padding: 1.25rem 1.5rem;
  color: $gray;
  border-bottom: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  @media (min-width: $break-point-2) {
    position: absolute;
    left: -9999px;

    &:focus {
      left: 19.5rem;
    }
  }

  @media screen and (min-width: $break-point-3) {
    &:focus {
      left: 21.5rem;
    }
  }

  @media (min-width: $break-point-dynamic) {
    &:focus {
      left: calc(50% - 24.5rem);
    }
  }

  // @media print {
  //   display: none;
  // }
}
