.sidebar-social > ul  {
  min-height: 3.5rem;
  margin-bottom: 0;

  > li {
    margin-bottom: 0.5rem;
    display: inline-block;

    > a {
      display: inline-block;
      text-align: center;
      font-size: 1.4rem;
      line-height: 2.55rem;
      width: 2.55rem;
      height: 2.55rem;
    }
  }
}
