.sidebar-social > ul  {
  list-style: none;
  padding-left: 0;
  // margin-left: -0.25rem;
  // margin-right: -0.25rem;

  > li {
    display: inline-block;
    // margin: 0 0.25rem;

    > a {
      display: inline-block;
      text-align: center;
      font-size: 1.6rem;
      line-height: 3rem;
      width: 3rem;
      height: 3.5rem;
      padding-bottom: 0.5rem;

      // &::after {
      //   display: none;
      // }
    }
  }

  li + li {
    margin-top: 0;
  }
}
