.sidebar-social > ul  {
  // list-style: none;
  // padding-left: 0;
  margin-left: -0.5rem;
  margin-right: -0.5rem;

  > li {
    // display: inline-block;

    > a {
      // display: inline-block;
      // text-align: center;
      // font-size: 1.6rem;
      // line-height: 3rem;
      // width: 3rem;
      // height: 3rem;

      &::after {
        display: none;
      }
    }
  }

  // li + li {
  //   margin-top: 0;
  // }
}
