#markdown-toc {
  // @extend .faded;
  // padding-bottom: 1rem;
  // margin-left: -1rem;
  // margin-right: -1rem;
  margin-bottom: 1rem;

  ul {
    margin-bottom: 0;
  }

  li {
    margin-top: 0.25rem;
  }
}
