# Dependencies
markdown:         redcarpet
highlighter:      pygments

# Permalinks
#permalink:        pretty


# Setup
title:            Divyanka 
tagline:          'Student'
description:      'I'm Divyanka, CS sophomore at IIT Delhi. This is my personal website, feel free to explore around.'
url:              http://hyde.getpoole.com
baseurl:          /

author:
  name:           'Mark Otto'
  url:            https://twitter.com/mdo

paginate:         5

# Custom vars
version:          2.1.0

github:
  repo:           https://github.com/poole/hyde
