---
layout: page
title: Arxiu
---

<div class="posts">
  <p>Aquesta pàgina llista cada una de les col·leccions existents de la pàgina i enllaça a cada un dels seus elements.</p>
  
  {% assign sorted_collections = site.collections | sort_by: 'title' %}
  {% for collection in sorted_collections %}
    {% capture label %}{{ collection | first }}{% endcapture %}
    <h2>{{ label | capitalize }}</h2>
    {% for doc in site.collections.[label].docs %}
      <li>
        <a href="{{ doc.url }}">{{ doc.title }}</a>
      </li>
    {% endfor %}
  {% endfor %}
</div>
