---
layout: page
title: Archivo
---

<div class="posts">
  <p>Aquesta pàgina llista cada una de les col·leccions existents de la pàgina i enllaça a cada un dels seus elements.</p>
  
  {% assign colecciones = site.collections | sort: 'title' %}
  {% for collection in colecciones %}
    {% capture label %}{{ collection | first }}{% endcapture %}
    <h2>{{ label | capitalize }}</h2>
    {% assign ordenados = site.collections.[label].docs | sort: 'title' %}
    {% for doc in ordenados %}
      <li>
        <a href="{{ doc.url }}">{{ doc.title }}</a>
      </li>
    {% endfor %}
  {% endfor %}
</div>
