---
layout: page
title: Col·leccions
---

<div class="posts">
  {% for collection in site.collections %}
    {% capture label %}{{ collection | first }}{% endcapture %}
    <h2>{{ collection.label }} - {{ collection.title }} - {{ collection.title }}</h2>
    {% for doc in site.collections.[label].docs | markdownify %}
      <li>
        <a href="{{ doc.url }}">{{ doc.title }}</a>
      </li>
    {% endfor %}
  {% endfor %}
  
  —
  
  {% for collection in site.collections %}
    <section>
        <h1><a href="{{ collection.directory }}">{{ collection.title }}</a></h1>
        Label: {{ collection.label }}
    </section>
  {% endfor %}
</div>
