---
layout: default
title: Home
---

<div style="float:right; margin-left: 2em">
  <a class="twitter-timeline" href="https://twitter.com/fredhutchio" data-widget-id="469847689216024576" data-chrome="noheader nofooter noscrollbar" data-tweet-limit="2" width="220">Tweets by @fredhutchio</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<h2>Welcome</h2>
<a href="http://fredhutch.io">fredhutch.io</a> is an initiative to facilitate education about and promote access to computational resources at
<a href="http://fredhutch.org">Fred Hutch</a>.
<br />
<br />
Descriptions for our current courses are available in 
  <a href="/resources/">
    Resources
  </a>.
<br />
<br />
Fred Hutch and SCCA employees can register for fredhutch.io courses by 
visiting Hutch Learning through Centernet and searching for "fredhutch.io".
<br />
<br />
Please submit requests for new courses or other training support using <a href="https://docs.google.com/forms/d/e/1FAIpQLSf5uJQ2o7aj2FC_LWq-V4nPz_RwvEjuXAGqGORSp7i1mJaUVQ/viewform?usp=sf_link">this form.</a>

                                                                                      
&nbsp;

{% assign upcoming_header = true %}

{% for post in site.categories.events reversed %}
{% if post.date > site.time %}

{% if upcoming_header %}
<h2>Upcoming events</h2>
{% assign upcoming_header = false %}
{% endif %}

<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
<div class="post-subtitle">
  <span class="post-date">{{ post.date | date_to_string }}</span>
  <ul class="post-tags">
    {% for tag in post.tags %}
    <li class="tag">{{ tag }}</li>
    {% endfor %}
  </ul>
</div>

{% endif %}
{% endfor %}
