---
layout: page
title: Archivo
---
{% include scripts.html %}
<script type="text/javascript">
  var container = document.querySelector('.container');
  var msnry = new Masonry( container, {
    itemSelector: '.cards'
  });
</script>

<div class="posts">
  <p>Aquesta pàgina llista cada una de les col·leccions existents de la pàgina i enllaça a cada un dels seus elements.</p>
  
  {% for collection in site.collections %}
    <div class="cards">
    {% capture label %}{{ collection | first }}{% endcapture %}
    {% assign words = label | split: '-' %}
    <h2>{% for word in words %}{{ word | capitalize }} {% endfor %}</h2>
    {% assign ordenados = site.collections.[label].docs | sort: 'title' %}
    {% for doc in ordenados %}
      <li>
        <a href="{{ doc.url }}">{{ doc.title }}</a>
      </li>
    {% endfor %}
    </div>
  {% endfor %}
</div>
