* {
	margin: 0;
    padding: 0;
}

a {
	text-decoration:none;
	color:#111;
}

#wrapper{
	width: 9999px; 
	position: fixed; 
	height: 9999px; 
}

#border-t, #border-b, #border-l, #border-r {
	position: fixed;
	background: #111;
	z-index: 9999;
	display:block;
}

#border-t {
	left: 0;
	right: 0;
	top: 0;
	height: 5px;
}

#border-b {
	left: 0;
	right: 0;
	bottom: 0;
	height: 5px;
}

#border-l {
	left: 0;
	top: 0;
	bottom: 0;
	width: 5px;
}

#border-r {
	right: 0;
	top: 0;
	bottom: 0;
	width: 5px;
}

body{
	font-family: 'Roboto', sans-serif;
	color: #1F1F24;
	letter-spacing:0.4px;
	-webkit-font-smoothing:
	antialiased;
	text-rendering:
	optimizeLegibility;
}

#profile{
	width:40%;
	height:100%;
	position:fixed;
	-moz-box-shadow: 1px 1px 1px 1px #f6f6f6;
    -webkit-box-shadow:1px 1px 1px 1px #f6f6f6;
    box-shadow: 1px 1px 1px 1px #f6f6f6;
    z-index:2;
    background-image: url("img/geometry.png");
    background-repeat: repeat;
}

.profile-header{
	padding:50px;
}

.profile-header h1{
	font-size:20px;
	font-weight:300;
	text-align:center;
}

.profile-header h1 b{
	font-weight:400;
	font-size: 21px;
}

.profile-header h2{
	font-size:14px;
	font-weight:300;
	margin-left:195px;
	margin-top:-21px;
	display:block;
}

.profile-header h2 a{
	opacity:0.5;
}

.profile-header h2 a:hover{
	opacity:1;
}

.profile-bio{
	text-align:center;
	height: 50%;
	top: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin:  auto;
	width:100%;
}

.profile-bio img{
	border-radius: 50%;
	width:250px;
	height:250px;
}

.profile-text{
	text-align:center;
	margin-top: 50px;
}

.profile-text h1{
	font-size:24px;
	font-weight:300;
	letter-spacing:0.7px;
	line-height:36px;
	text-align:center;
	width:80%;
	display:inline-block;
}

.profile-text h1 a{
	opacity:1;
	font-weight:400;
}

.profile-text h1 a:hover{
	opacity:0.4;
	font-weight:400;
}

.profile-text h2{
	font-family:'Montserrat', sans-serif;
	font-size:12px;
	font-weight:400;
	margin-top:30px;
	color:#9f9f9f;
	letter-spacing:0.5px;
	text-align:center;
}

.profile-text h2 a{
	color: #9f9f9f;
}

.profile-text h2 a:hover{
	color: #1F1F24;
}

.profile-links img{
	width:16px;
	height:16px;
	opacity:0.4;
}

.profile-links img:hover{
	opacity:1;
}

.profile-links{
	text-align:center;
	position:absolute;
	bottom:5%;
	width:100%;
}

.profile-links li{
	display:inline;
	list-style-type:none;
	padding-left:6px;
	padding-right:6px;
}

.profile-links-mobile{
	display:none;
	margin-top:40px;
}

#works{
	width:60%;
	left:40%;
	position:relative;
}

.works-container{
	padding-top:55px;
	padding-bottom:40px;
	padding-left:50px;
	padding-right:0px;
}

.works-divider{
	background-color:#ddd;
	height:1px;
	margin-top:-8px;
	margin-left:60px;
}

.facebook-logo{
	margin-top:75px;
	margin-left:60px;
	width:40px;
	height:40px;
}
.baremetrics-logo{
	margin-top:75px;
	margin-left:60px;
	width:160px;
}
.wayra-logo{
	margin-top:75px;
	margin-left:60px;
	width:58px;
	height:36px;
}
.dit-logo {
	margin-top:75px;
	margin-left:44px;
	width:58px;
}
.sj-logo{
	margin-top:75px;
	margin-left:60px;
	width:180px;
}
.cw-logo {
	margin-top:75px;
	margin-left:60px;
	width:100px;	
}
.ew-logo {
	margin-top:75px;
	display: block;
	font-weight: bold;
	margin-left:60px;
}

.squarespace-logo{
	margin-top:65px;
	margin-left:60px;
	width:40px;
	height:32px;
}

.platter-logo{
	margin-top:75px;
	margin-left:60px;
	width:100px;
	height:22px;
}

.snapmail-logo{
	margin-top:75px;
	margin-left:60px;
	width:50px;
	height:49px;
}

.sealhunt-logo{
	margin-top:75px;
	margin-left:60px;
	width:158px;
	height:78px;
}

.whatsyourobject-logo{
	margin-top:75px;
	margin-left:60px;
	width:320px;
	height:16px;
	display:block;
}

.whatsyourobject-logo-mobile{
	display:none;
}

.ew-logo, .facebook-logo:hover, .baremetrics-logo:hover, .wayra-logo:hover, .dit-logo:hover, .squarespace-logo:hover, .snapmail-logo:hover, .secret-service-logo:hover, .format-logo:hover, .sealhunt-logo:hover, .whatsyourobject-logo:hover{
	opacity:0.4;
}
h6 {
font-size: 18px;
font-weight: 400;
line-height: 1.7;
margin-top: 60px;
margin-left: 60px;
margin-right: 17%;
}
#works-item h1{
	font-size:18px;
	font-weight:300;
	line-height:1.7;
	margin-top:20px;
	margin-left:60px;
	margin-right:17%;
}

#works-item h1 a{
	font-weight:400;
}

#works-item h1 a:hover{
	opacity:0.4;
}

#works-item h2{
	font-family: 'Montserrat', sans-serif;
	font-size:12px;
	font-weight:400;
	line-height:1.7;
	letter-spacing:0.5px;
	margin-top:20px;
	margin-left:60px;
	margin-bottom:75px;
	opacity:0.4;
}

#works-item h3{
	font-family: 'Montserrat', sans-serif;
	font-size:12px;
	font-weight:400;
	letter-spacing:0.5px;
}

.squarespace-mock{
	text-align:center;
	margin-left:-60px;
	padding-bottom:15px;
}

.squarespace-mock img{
	display:inline-block;
	width:75%;
	max-width:1000px;
	margin:0 auto;	
}
.evercam-wireframe{
	text-align:center;
	margin-left:-60px;
	padding-bottom:65px;
}

.evercam-wireframe img{
	display:inline-block;
	width:75%;
	max-width:1000px;
	margin:0 auto;	
}
.secret-service-mock{
	text-align:center;
	margin-left:-60px;
	padding-bottom:65px;
}
.ew-mock img{
	display:inline-block;
	width:75%;
	max-width:1000px;
	margin:0 auto;	
}
.ew-mock {
	text-align:center;
	margin-left:-60px;
	padding-bottom:65px;
}
.ew-mock .border {
border:1px solid #e9e9e9;
}
.secret-service-mock img{
	display:inline-block;
	width:75%;
	max-width:1000px;
	margin:0 auto;	
}
.evercamplay-mock{
	text-align:center;
	margin-left:-60px;
	padding-bottom:65px;
}

.evercamplay-mock img{
	display:inline-block;
	width:75%;
	max-width:1000px;
	margin:0 auto;	
}

.platter-prototype{
	text-align:center;
	margin-left:-60px;
}

.platter-prototype video{
	display:inline-block;
	width:42%;
	max-width:370px;
	margin:0 auto;
}

#mockup-container{
	width:100%;
	text-align:center;
	padding-bottom:70px;
	margin-left:-30px;
}

#mockup-container h1{
	font-size:18px;
	font-weight:300;
	line-height:1.7;
	margin-top:20px;
	margin-left:90px;
	margin-right:17%;
	padding-top:50px;
	padding-bottom:70px;
	text-align:left;
}

#platter-mock{
	width:100%;
	display:inline-block;
	max-width:800px;

}

#platter-column{
	margin:0 auto;
	float:left;
	width:46%;
	margin-left:2%;
	margin-right:2%;
}

#platter-column img{
	width:100%;
}

#secret-service-mock{
	width:100%;
	display:inline-block;
	max-width:800px;
	padding-bottom: 65px;
}

#secret-service-column{
	margin:0 auto;
	float:left;
	width:46%;
	margin-left:2%;
	margin-right:2%;
}

#secret-service-column img{
	width:100%;
}

#shona-joy-mock {
	width:100%;
	display:inline-block;
	max-width:800px;
	padding-bottom: 65px;
}

#shona-joy-column{
	margin:0 auto;
	float:left;
	width:46%;
	margin-left:2%;
	margin-right:2%;
}

#shona-joy-column img{
	width:100%;
}

.ecr-guide-mock{
	text-align:center;
	margin-left:-60px;
}

.ecr-guide-mock img{
	display:inline-block;
	width:70%;
	max-width:840px;
	margin:0 auto;
	padding-bottom:75px;
}

#ecr-cover-mock{
	margin-left:-60px;
	text-align:center;
	padding-bottom:25px;
}

#ecr-cover-mock img{
	display:inline-block;
	max-width:1000px;
	margin:0 auto;
	width:75%;
	padding-bottom:60px;
}

.sealhunt-mock{
	text-align:center;
	margin-left:-60px;
}

.sealhunt-mock img{
	display:inline-block;
	width:75%;
	max-width:1000px;
	margin:0 auto;
	padding-bottom:75px;
}

.sealhunt-mock2{
	text-align:center;
	margin-left:-60px;
	padding-bottom:10px;
}

.sealhunt-mock2 img{
	display:inline-block;
	width:70%;
	max-width:900px;
	margin:0 auto;
	padding-bottom:75px;
}

.whatsyourobject-prototype{
	text-align:center;
	margin-left:-60px;
}

.whatsyourobject-prototype video{
	display:inline-block;
	width:74%;
	max-width:960px;
	margin:0 auto;
	padding-bottom:40px;
}

.whatsyourobject-mock{
	margin-left:-60px;
	text-align:center;
}

.whatsyourobject-mock img{
	display:inline-block;
	max-width:1000px;
	margin:0 auto;
	width:75%;
	padding-bottom:60px;
}

.footer{
	background-color:#111;
	padding-top: 60px;
	padding-bottom:60px;
}

.works-update{
	margin-left:110px;
}

.works-update h1{
	color:white;
	font-size:24px;
	font-weight:300;
	letter-spacing:0.7px;
	line-height:36px;
	opacity:1;
	margin-top:25px;
	margin-right:17%;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}

.works-update h1 a{
	font-weight:500;
	color:white;
}

.works-update h1 a:hover{
	opacity:0.8;
}

.works-update h2, .works-update h4{
	color:white;
	font-size:18px;
	font-weight:300;
	letter-spacing:0.7px;
	line-height:1.7;
	width:80%;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}

.works-update h2{
	margin-top: 50px;
	opacity:0.5;
}

.works-update h4 a{
	color:white;
	opacity:0.5;
	font-weight:400;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}

.works-update h4 a:hover{
	opacity:1;
}

.works-update img{
	width:16px;
	height:16px;
	margin-left:4px;
	opacity:0.5;
}

#column{
	width:50%;
	float:left;
}

.footer h3{
	color:white;
	font-family: 'Montserrat', sans-serif;
	font-size:12px;
	line-height:1.7;
	margin-top: 90px;
	opacity:0.2;
	font-weight:400;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}

.footer-divider{
	background-color: #333;
	height:1px;
	margin-top:100px;
	margin-bottom:60px;
}

#work {
width: 100%;
list-style: none;
clear: both;
}

#work li {
width: 200px;
margin: 10px;
display: inline-block;
}

#work li img {
border: 2px solid rgba(255,255,255,0.2);
}

/*Media Queries*/

@media (min-width: 1500px) { 

.profile-bio{
	text-align:center;
	height: 50%;
	top: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin:  auto;
}

.profile-text h1{
	width:450px;
	display:inline-block;
}

.profile-text h2{
	display:inline-block;
	margin-top:30px;
}

#works-item h1{
	margin-right:25%;
}

.works-update h2, .works-update h4{
	width:70%;
}

 }

@media (min-width: 1025px) and (max-width:1200px) {

#mockup-container h1{
	padding-bottom:32px;
}

#platter-column{
float:none;
margin:0 auto;
padding-top:38px;
}


}

@media (min-width: 480px) and (max-width:1024px) {
 #platter-column{
	width:46%;
	margin-left:2%;
	margin-right:2%;
}

 }

 @media (max-height: 1150px) { 

.profile-bio{
	text-align:center;
	height:55%;
}

}

@media (max-height: 850px) { 

.profile-bio{
	text-align:center;
	height:55%;
}

.profile-bio img{
	width:200px;
	height:200px;
}

.profile-text{
	margin:35px;
	margin-top:40px;
	text-align:center;
}

.profile-text h1{
	font-size:20px;
	font-weight:300;
	letter-spacing:0.4px;
	line-height:1.6;
	text-align:center;
}

.profile-text h1 a{
	opacity:1;
	font-weight:400;
}

.profile-text h1 a:hover{
	opacity:0.4;
	font-weight:400;
}

.profile-text h2{
	font-family:'Montserrat', sans-serif;
	font-size:12px;
	opacity:0.4;
	text-align:center;
}

.profile-links{
	text-align:center;
	bottom:5%;
}

.profile-links-mobile{
	margin-top:0px;
}

 }


 @media (max-height: 700px) { 
	
.profile-links{
	display:none;
}

}

@media (max-width: 1024px) { 
	
#profile{
	width:100%;
	height:0%;
	position:relative;

	-moz-box-shadow: 0px 0px 0px 0px;
    -webkit-box-shadow: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px;
}

.profile-bio{
	text-align:center;
	width: 100%;
	height: 100%;
	position: relative;
}

.profile-text h1{
	margin-left:7%;
	margin-right:7%;
}

.profile-links{
	display:none;
}

.profile-links-mobile{
	display:block;
	text-align:center;
}

.profile-links-mobile img{
	width:16px;
	height:16px;
	opacity:0.4;
}

.profile-links-mobile img:hover{
	opacity:1;
}

.profile-links-mobile li{
	display:inline;
	list-style-type:none;
	padding-left:6px;
	padding-right:6px;
}


#works{
	width:100%;
	left:0%;
	position:relative;
}

#mockup-container h1{
	margin-right:17%;
}

.footer{
	padding-bottom:50px;
}

 }

 @media (max-width:600px){
	#column{
	width:100%;
	float:left;
	margin-top:-30px;
}

.works-update h2{
	margin-bottom:30px;
}

}

@media only screen and (max-width : 480px) {

#border-t, #border-b, #border-l, #border-r {
	display:none;
}

.profile-header h1{
	text-align:center;
}

.profile-header h2{
	display:none;
}

.profile-bio{
	margin-top:0px;
	text-align:center;
}

.profile-bio img{
	width:150px;
	height:150px;
}

.profile-text{
	margin:10px;
	margin-top:40px;
	text-align:center;
}

.profile-text h1{
	font-size:18px;
	font-weight:300;
	letter-spacing:0.4px;
	line-height:1.7;
	text-align:center;
	margin-left:0%;
	margin-right:0%;
}

.profile-links-mobile{
	margin-top:20px;
}


.works-container{
	padding:15px;
	padding-top:55px;
	padding-right:0px;
}

.works-divider{
	margin-left:40px;
}

#works-item h1{
	font-size:16px;
	font-weight:300;
	line-height:1.7;
	margin-top:20px;
	margin-left:40px;
	margin-right:17%;
}

#works-item h2{
	margin-left:40px;
	margin-right:25%;
}

.ew-logo .facebook-logo, .baremetrics-logo:hover, .wayra-logo, .dit-logo, .sj-logo, .cw-logo, .squarespace-logo, .platter-logo, .snapmail-logo, .sealhunt-logo, .whatsyourobject-logo-mobile{
	margin-left:40px;
}

.whatsyourobject-logo{
	display:none;
}

.whatsyourobject-logo-mobile{
	display:block;
	margin-top:75px;
	width:192px;
	height:44px;
}

.platter-prototype, .evercam-wireframe, .squarespace-mock, .secret-service-mock, .ecr-guide-mock, #ecr-cover-mock, .sealhunt-mock, .sealhunt-mock2, .whatsyourobject-prototype, .whatsyourobject-mock{
	margin-left:-20px;
}

.platter-prototype video{
	width:80%;
}

#platter-mock{
	margin-top:-38px;
}

#platter-column{
float:none;
margin:0 auto;
width:80%;
padding-top:38px;
}

#mockup-container{
	margin-left:-10px;
}

#mockup-container h1{
	margin-left:40px;
	margin-right:17%;
	font-size:16px;
}

.whatsyourobject-prototype{
	margin-top:-20px;
}

.whatsyourobject-prototype video{
	padding-bottom:55px;
}

.whatsyourobject-mock{
	margin-bottom:-15px;
}


.footer{
	padding-top:1px;
}

.works-update{
	margin-left:40px;
	margin-top: 60px;
}

.footer-divider{
	margin-top: 60px;
	/* margin-bottom:-25px; */
}

.works-update h1{
	font-size:18px;
	letter-spacing:0.4px;
	line-height:1.7;
}

.works-update h2, .works-update h4{
	font-size:16px;
	line-height:1.7;
	width:80%;
}

.works-update h2{
	margin-top:50px;
}

#column{
	margin-top:-27px;
}

.works-list{
	padding-top: 0px;
	margin-top: 30px;
}

.footer h3{
	margin-top: 60px;
	margin-right:40px;
}

.footer{
	padding-bottom:50px;
}

}