---
layout: page
title:
permalink: /tag/
---
{% for tag in site.tags %}
{% assign t = tag | first %}
{% assign posts = tag | last %}

<a name="{{ t | downcase }}"><h2>{{ t | downcase }}</h2></a>
<ul  style="list-style: none; padding: 0;">
    {% for post in posts %}
    {% if post.tags contains t %}
    {% if post.publish != false %}

    <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <time datetime='{{ post.date | date_to_string }}' class="post-date" style="display: inline">{{ post.date | date_to_string }}</time>
    </li>
    {% endif %}
    {% endif %}
    {% endfor %}
</ul>
{% endfor %}