<hy-push-state
  id="_pushState"
  replace-selector="#_main"
  link-selector="a[href]:not([href*='/assets/']):not(.external):not(.no-push-state)"
  script-selector="script:not([type^='math/tex'])"
  duration="250"
  prefetch
  hashchange
>
  {% include_cached body/menu.html %}
  {% if page.cover %}
    {% include_cached body/sidebar.html cover=page.cover theme_color=page.theme_color image=image color=color %}
    {% include body/main.html %}
  {% else %}
    {% include body/main.html %}
    {% include_cached body/sidebar.html cover=page.cover theme_color=page.theme_color image=image color=color %}
  {% endif %}
</hy-push-state>

{% unless page.redirect %}
  {% include_cached body/scripts.html %}
  {% include my-body.html %}
{% endunless %}

{% include_cached templates/index.html %}
