{% unless page.redirect %}
  <!--[if !IE]><!---->
  <script>loadJSDeferred(document.getElementById('_hrefJS').href);</script>
  {% include my-scripts.html %}
  <!--<![endif]-->

  {% include body/analytics.html %}

  <script>
    if ('serviceWorker' in navigator) {
      {% if site.hydejack.offline.enabled %}
        navigator.serviceWorker.register(document.getElementById('_hrefSW').href)
          .then(r => r.update())
          .catch(() => {});
      {% else %}
        navigator.serviceWorker.getRegistration()
          .then(r => r.unregister())
          .catch(() => {});
      {% endif %}
    }
  </script>
{% endunless %}
