{% if site.hydejack.dark_mode.dynamic %}
  <script>!function(w, d) {
    var h = new Date().getHours();
    var m = h <= {{ site.hydejack.dark_mode.sunrise | default:"6" }} || h >= {{ site.hydejack.dark_mode.sunset | default:"18" }} ? 'add' : 'remove';
    d.body.classList[m]('dark-mode');
  }(window, document);</script>
{% endif %}

{% unless page.redirect %}
  <!--[if gt IE 9]><!---->
  <script>loadJSDeferred(document.getElementById('_hrefJS').href);</script>
  {% include my-scripts.html %}
  <!--<![endif]-->

  {% include body/analytics.html %}

  <script>!function(w, d) {
    if ('serviceWorker' in w.navigator) {
      /*{% if site.hydejack.offline.enabled %}*/
      w.navigator.serviceWorker.register(d.getElementById('_hrefSW').href)
        .then(r => r.update())
        .catch(() => {});
      /*{% else %}*/
      w.navigator.serviceWorker.getRegistration()
        .then(r => r.unregister())
        .catch(() => {});
      /*{% endif %}*/
    }
  }(window, document);</script>
{% endunless %}
