body {
    padding-left:20px;
    padding-right: 20px;
}

.aside {
  padding: 1rem 1rem;
}

.main {
  padding:2rem 1rem;
}


/*styling nav bar*/
header {
    text-align: center;
}

nav li {
  list-style: none;
  display:inline;
  line-height: 1.75;
  margin-right: 15px;
}    
/*End of styling nav bar*/



