html {
  --font-family: #{$font-family};
  --font-family-heading: #{$font-family-heading};
  --code-font-family: #{$code-font-family};

  --gray: #{$gray};
  --gray-bg: #{$gray-bg};
  --gray-text: #{$gray-text};
  --menu-text: #{$menu-text};
  --body-color: #{$body-color};
  --body-bg: #{$body-bg};
  --border-color: #{$border-color};

  --root-font-size: #{$root-font-size};
  --root-font-size-medium: #{$root-font-size-medium};
  --root-font-size-large: #{$root-font-size-large};
  --root-font-size-print: #{$root-font-size-print};
  --root-line-height: #{$root-line-height};

  --font-weight: #{$font-weight};
  --font-weight-bold: #{$font-weight-bold};
  --font-weight-heading: #{$font-weight-heading};

  // --content-width: #{$content-width};
  // --content-width-2: #{$content-width-2};
  --content-width-5: #{$content-width-5};

  // --content-margin-3: #{$content-margin-3};
  --content-margin-5: #{$content-margin-5};

  --sidebar-width: #{$sidebar-width};
  --half-content: #{$half-content};

  // --break-point-1: #{$break-point-1};
  // --break-point-2: #{$break-point-2};
  --break-point-3: #{$break-point-3};
  // --break-point-4: #{$break-point-4};
  --break-point-5: #{$break-point-5};
  // --break-point-font-large: #{$break-point-font-large};

  --break-point-dynamic: #{$break-point-dynamic};
}
.note:before {
  content: "{{ site.data.strings.note | default:'Note' }}";
}
.page > header > .note-sm:before {
  content: "{{ site.data.strings.description | default:'Description' }}";
}
#markdown-toc:before {
  content: "{{ site.data.strings.toc | default:'Table of Contents' }}";
}
.layout-resume .note-sm:before {
  content: "{{ site.data.strings.resume.summary | default:'Summary' }}";
}

{% if site.hydejack.no_page_style %}
  {% assign color       = site.accent_color | default:'#4fb1ba' %}
  {% assign theme_color = site.theme_color  | default:'#193747' %}
  {% include_cached styles/page-style.scss color=color theme_color=theme_color %}
{% endif %}
