html { font-family: $font-family; }
h1, h2, h3, h4, h5, h6, .f1, .f2, .f3, .f4, .f5, .f6, .heading { font-family: $font-family-heading; }

.note:before {
  content: "{{ site.data.strings.note | default:'Note' }}";
}
.page > header > .note:before {
  content: "{{ site.data.strings.description | default:'Description' }}";
}
#markdown-toc:before {
  content: "{{ site.data.strings.toc | default:'Table of Contents' }}";
}
.layout-resume .note:before {
  content: "{{ site.data.strings.resume.summary | default:'Summary' }}";
}

{% if site.hydejack.no_page_style %}
  {% assign color       = site.accent_color | default:'#4fb1ba' %}
  {% assign theme_color = site.theme_color  | default:'#193747' %}
  {% include_cached styles/page-style.scss color=color theme_color=theme_color %}
{% endif %}

{% if site.hydejack.no_drawer %}
  @media (min-width: $break-point-3) {
    #_menu { display: none }
    .nav-btn-bar > :nth-child(2) { border: none }
  }
{% endif %}

{% unless site.hydejack.no_third_column %}
.page > header {
  > .lead + .note, 
  > a.no-hover + .note {
    @media screen and (min-width: $break-point-dynamic) {
      position: absolute;
      right: -23rem;
      width: 21rem;
      bottom: 0;
      margin-bottom: 0;
    }
  }
}
{% endunless %}

{% unless site.hydejack.no_large_headings %}
.content {
  h1, .h1 {
    @media screen and (min-width: $break-point-5) {
      width: calc(100% + 50vw - 36rem);
      font-size: 3rem;
      line-height: 1.2;
    }
    @media screen and (min-width: $break-point-font-large) {
      font-size: 4rem;
      line-height: 1.1;
    }
  }
}
{% endunless %}