.note:before {
  content: "{{ site.data.strings.note | default:'Note' }}";
}
.page > header > .note:before {
  content: "{{ site.data.strings.description | default:'Description' }}";
}
#markdown-toc:before {
  content: "{{ site.data.strings.toc | default:'Table of Contents' }}";
}
.layout-resume .note:before {
  content: "{{ site.data.strings.resume.summary | default:'Summary' }}";
}

{% if site.hydejack.no_page_style %}
  {% assign color       = site.accent_color | default:'#4fb1ba' %}
  {% assign theme_color = site.theme_color  | default:'#193747' %}
  {% include_cached styles/page-style.scss color=color theme_color=theme_color %}
{% endif %}

{% if site.hydejack.dark_mode.dynamic %}
@media screen {
  body.dark-mode {
    --body-bg: var(--dark-mode-body-bg);
    --border-color: var(--dark-mode-border-color);
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
    --body-bg: var(--dark-mode-body-bg);
    --border-color: var(--dark-mode-border-color);
  }
}
{% endif %}

{% if site.hydejack.no_drawer %}
  @media (min-width: $break-point-3) {
    #_menu { display: none }
    .nav-btn-bar > :nth-child(2) { border: none }
  }
{% endif %}

{% unless site.hydejack.no_third_column %}
.page > header {
  > .lead + .note, 
  > a.no-hover + .note {
    @media screen and (min-width: $break-point-dynamic) {
      font-size: smaller;
      position: absolute;
      right: -25rem;
      width: 23rem;
      bottom: 0;
      margin-bottom: 0;
    }
  }
}
{% endunless %}

{% unless site.hydejack.no_large_headings %}
.content {
  h1, .h1 {
    @media screen and (min-width: $break-point-dynamic) {
      width: calc(100% + 50vw - 32rem);
      font-size: 3rem;
      line-height: 1.2;
    }
    @media screen and (min-width: $break-point-font-large) {
      font-size: 4rem;
      line-height: 1.1;
    }
  }
}
{% endunless %}

{% unless site.hydejack.no_break_layout %}
  .katex-display > .katex, mjx-container[jax][display="true"] { 
    text-align: left;
  }
{% endunless %}
