@import "variables";
@import "mixins";

@import "pooleparty/base-inline";
// @import "pooleparty/base";
@import "pooleparty/type-inline";
// @import "pooleparty/type";
// @import "pooleparty/table";
// @import "pooleparty/footnotes";
// @import "pooleparty/code";
@import "pooleparty/layout-inline";
@import "pooleparty/footer-inline";
@import "pooleparty/posts-inline";
// @import "pooleparty/pagination";
@import "pooleparty/related-inline";
@import "pooleparty/message-inline";

@import "hydejack/base-inline";
// @import "hydejack/base";
@import "hydejack/sidebar-inline";
// @import "hydejack/sidebar";
@import "hydejack/drawer-inline";
// @import "hydejack/drawer";
@import "hydejack/social-inline";
// @import "hydejack/social";
@import "hydejack/menu-inline";
@import "hydejack/content-inline";
@import "hydejack/me-inline";
// @import "hydejack/katex";
@import "hydejack/footer-inline";

// @import "jekyll-github";
// @import "spinner";

{% assign font = site.font %}
{% assign font_heading = site.font_heading %}

{% if site.load_google_fonts %}
  {% assign font = site.font | split:',' | shift | join:',' %}
  {% assign font_heading = site.font_heading | split:',' | shift | join:',' %}
{% endif %}

html { font-family: {{ font }}; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .heading { font-family: {{ font_heading }}; }
