@import "variables";
@import "mixins";

// @import "pooleparty/base-inline";
@import "pooleparty/base";
// @import "pooleparty/type-inline";
@import "pooleparty/type";
@import "pooleparty/table";
@import "pooleparty/footnotes";
@import "pooleparty/code";
// @import "pooleparty/layout-inline";
// @import "pooleparty/footer";
// @import "pooleparty/posts-inline";
@import "pooleparty/pagination";
// @import "pooleparty/related-inline";
// @import "pooleparty/message-inline";

// @import "hydejack/base-inline";
@import "hydejack/base";
// @import "hydejack/sidebar-inline";
@import "hydejack/sidebar";
// @import "hydejack/drawer-inline";
@import "hydejack/drawer";
// @import "hydejack/social-inline";
@import "hydejack/social";
// @import "hydejack/menu-inline";
// @import "hydejack/content-inline";
// @import "hydejack/me-inline";
@import "hydejack/katex";
// @import "hydejack/footer-inline";
@import "hydejack/toc";

@import "jekyll-github";
@import "spinner";

{% assign font = site.font %}
{% assign font_heading = site.font_heading %}
{% assign google_fonts = site.google_fonts %}
{% unless font or font_heading or google_fonts %}
  {% assign font = "'Noto Serif', Georgia, serif" %}
  {% assign font_heading = "'Roboto Slab', Helvetica, Arial, sans-serif" %}
  {% assign google_fonts = "Roboto+Slab:700|Noto+Serif:400,400i,700,700i" %}
{% endunless %}

{% if google_fonts %}
  {% assign font = font | split:',' | first %}
  {% assign font_heading = font_heading | split:',' | first %}

  .wf-active {
    font-family: {{ font | default:"serif" }};
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .heading { font-family: {{ font_heading | default:"serif" }}; }
  }
{% endif %}

{% if site.mark_external %}
  @media screen {
    a[href*="//"]::after, a.no-push-state::after {
      content: "\00A0\ea7e";
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      font-size: smaller;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
{% endif %}
