@import "variables";
@import "mixins";

@import "reboot-mod";

{% unless site.hydejack.no_inline_css or jekyll.environment == 'development' %}
  @import "pooleparty/__link/base";
  @import "pooleparty/__link/type";
  @import "pooleparty/__link/table";
  @import "pooleparty/__link/footer";
  @import "pooleparty/__link/footnotes";
  @import "pooleparty/__link/code";
  @import "pooleparty/__link/posts";
  @import "pooleparty/__link/related";
  @import "pooleparty/__link/message";
  @import "pooleparty/__link/pagination";

  @import "hydejack/__link/base";
  @import "hydejack/__link/sidebar";
  @import "hydejack/__link/social";
  @import "hydejack/__link/menu";
  @import "hydejack/__link/content";
  @import "hydejack/__link/me";
  @import "hydejack/__link/katex";
  @import "hydejack/__link/footer";

  {% unless site.hydejack.no_mark_external or site.no_mark_external %}
    @import "hydejack/__link/mark-external";
  {% endunless %}
  {% unless site.hydejack.no_break_layout %}
    @import "hydejack/__link/break-layout";
  {% endunless %}

  @import "syntax";
  @import "spinner";

  // @import "my-inline";
  @import "my-style";
{% else %}
  @import "pooleparty/^base.scss";
  @import "pooleparty/^type.scss";
  @import "pooleparty/^table.scss";
  @import "pooleparty/^footer.scss";
  @import "pooleparty/^footnotes.scss";
  @import "pooleparty/^code.scss";
  @import "pooleparty/^posts.scss";
  @import "pooleparty/^related.scss";
  @import "pooleparty/^message.scss";
  @import "pooleparty/^pagination.scss";

  @import "hydejack/^base.scss";
  @import "hydejack/^sidebar.scss";
  @import "hydejack/^social.scss";
  @import "hydejack/^menu.scss";
  @import "hydejack/^content.scss";
  @import "hydejack/^me.scss";
  @import "hydejack/^katex.scss";
  @import "hydejack/^footer.scss";

  {% unless site.hydejack.no_mark_external or site.no_mark_external %}
    @import "hydejack/^mark-external.scss";
  {% endunless %}
  {% unless site.hydejack.no_break_layout %}
    @import "hydejack/^break-layout.scss";
  {% endunless %}

  @import "syntax";
  @import "spinner";

  @import "my-inline";
  @import "my-style";
{% endunless %}

{% assign font_heading = site.font_heading | default:"'Roboto Slab', Helvetica, Arial, sans-serif" %}
{% assign font =         site.font         | default:"'Noto Sans', Helvetica, Arial, sans-serif" %}

{% unless site.hydejack.no_google_fonts or site.no_google_fonts %}
  .wf-active {
    font-family: {{ font | default:"serif" }};
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .heading, .btn { font-family: {{ font_heading | default:"serif" }}; }
  }
{% endunless %}
