$font-family-heading: {{ site.font_heading                     }};
$font-family:         {{ site.font                             }};
$code-font-family:    {{ site.font_code                        }};
$theme-color:         {{ site.theme_color  | default:'#193747' }};
