<div hidden>
  {% assign strings = site.data.strings %}
  <h2 class="sr-only">{{ strings.templates | default: "Templates"}}{{ strings.colon | default:":" }}</h2>

  <clap-config>
    <clap-text at="1">Keep going!</clap-text>
    <clap-text at="2">Keep going ×2!</clap-text>
    <clap-text at="3">Give me more!</clap-text>
    <clap-text at="5">Thank you, thank you</clap-text>
    <clap-text at="7">Far too kind!</clap-text>
    <clap-text at="10">Never gonna give me up?</clap-text>
    <clap-text at="14">Never gonna let me down?</clap-text>
    <clap-text at="20">Turn around and desert me!</clap-text>
    <clap-text at="30">You're an addict!</clap-text>
    <clap-text at="40">Son of a clapper!</clap-text>
    <clap-text at="50">No way</clap-text>
    <clap-text at="60">Go back to work!</clap-text>
    <clap-text at="70">This is getting out of <em>hand</em></clap-text>
    <clap-text at="80">Unbelievable</clap-text>
    <clap-text at="90">PREPOSTEROUS</clap-text>
    <clap-text at="100">I N S A N I T Y</clap-text>
    <clap-text at="185"><span style="font-family:monospace">FEED ME A STRAY CAT</span></clap-text>
  </clap-config>

  {% include templates/animation.html %}
  {% include templates/loading.html %}
  {% include templates/error.html %}
  {% include templates/permalink.html %}
</div>
