<div class="author">
  {% if include.author.picture %}
    {% include srcset-img.html class="me" img=include.author.picture alt=include.author.name %}
  {% endif %}

  <{{ include.heading_tag | default:'h2' }} class="page-title hr">
    {{ include.heading | default:include.author.name }}
  </{{ include.heading_tag | default:'h2' }}>

  {{ include.author.about | markdownify }}

  {% if include.author.social %}
    <div class="sidebar-social">
      {% include social.html social=include.author.social %}
    </div>
  {% endif %}
</div>
