{% include body/menu.html %}

<hy-push-state>
  <main
    id="_main"
    class="content fade-in layout-{{ page.layout }}"
    role="main"
    data-color="{{ color | escape }}"
    {% if image.background %}
      data-background="{{ image.background | escape }}"
      {% if image.overlay %}data-overlay{% endif %}
    {% else %}
      data-image="{{ image | escape }}"
      data-overlay
    {% endif %}
    >
    {{ content }}
    {% include comments.html %}
    {% include footer.html %}
  </main>
  {% include sidebar.html %}
</hy-push-state>

{% include body/scripts.html %}
