<!-- =============== -->
<!-- MENU            -->
<!-- =============== -->
<span class="sr-only">Jump to:</span>

<a id="_menu" class="menu no-hover" href="#_title">
  <span>☰</span>
  <span class="sr-only">Menu</span>
</a>

<!-- =============== -->
<!-- CONTENT         -->
<!-- =============== -->
<div id="_yPushState">
  <main id="_main" class="content container" role="main" data-color="{{ color | escape }}" data-image="{{ image | escape }}">

    {{ content }}

    {% if site.disqus_shortname and page.comments %}
      {% include comments.html %}
    {% endif %}

    {% include footer.html %}
  </main>
  {% include sidebar.html %}
</div>

<!-- =============== -->
<!-- SCRIPTS         -->
<!-- =============== -->
{% include scripts.html %}
