<div class="box">
  <div class="container">
    <div class="biglogo">
    <img alt="TINYPALACE / 20.-22. MAY / INTERIM KASSEL" src="/assets/elements/logo-big-back.png">
    <img class="biglogo1" src="/assets/elements/logo-big-1.png">
    <img class="biglogo2" src="/assets/elements/logo-big-2.png">
    <img class="biglogo3" src="/assets/elements/logo-big-3.png">
    <img class="biglogo4" src="/assets/elements/logo-big-4.png">
    </div>
  </div>
</div>
<div class="box2">
  <div class="container">
  <div class="box-bar"><img src="/assets/elements/blob1.png"></div>
  <h1>{{site.data.translations[page.lang].box-title-1}}</h1>
  <div class="video" style="margin-bottom: 3rem;">
    {% if page.lang == "de" %}
    <iframe src="https://player.vimeo.com/video/156843242?color=53adf9&title=0&byline=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    {% else %}
    <iframe src="https://player.vimeo.com/video/156839554?color=53adf9&title=0&byline=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    {% endif %}
  </div>
  {% if page.lang == "de" %}
  <div class="row">
    <div class="half">
    <p>tinypalace ist ein Ort um Ideen zu teilen und zu hören, was andere zu sagen haben. Ein Ort zum experimentieren, diskutieren, essen, tanzen und spielen.</p>
    <p>tinypalace ist ein alternatives Games Festival in Kassel.</p>
    </div>
    <div class="half">
    <p><span class="righty" style="float: right;">Bitte unterstützt uns auf <a href="http://startnext.com/tinypalace" target="_blank">startnext.com</a>.</p> 
    <p><span class="foo-text-top"><a href="https://www.facebook.com/Tinypalace-alternative-games-festival-997872843621455/" title="Facebook" target="_blank" id="foo-facebook">Facebook</a><!--
--><a href="http://twitter.com/tinytinypalace" title="Twitter" target="_blank" id="foo-twitter">Twitter</a><!--
--><a href="http://startnext.com/tinypalace" title="Unterstütz uns auf Startnext" target="_blank" id="foo-startnext">Startnext</a><!--
--><a href="#newsletter" title="Beim Newsletter anmelden" id="foo-mail">Newsletter</a>
    </span></p>
    </div>
  </div>  
  {% else %}
  <div class="row">
    <div class="half">
    <p>tinypalace is a place to share ideas and hear what others have on their mind. A place for experimenting, talking, eating, dancing and playing.</p>
    <p>tinypalace is an alternative games festival in Germany.</p>
    </div>
    <div class="half">
    <p><span class="righty" style="float: right;">Please consider supporting us on <a href="http://startnext.com/tinypalace" target="_blank">startnext.com</a>.</p> 
    <p><span class="foo-text-top"><a href="https://www.facebook.com/Tinypalace-alternative-games-festival-997872843621455/" title="Facebook" target="_blank" id="foo-facebook">Facebook</a><!--
--><a href="http://twitter.com/tinytinypalace" title="Twitter" target="_blank" id="foo-twitter">Twitter</a><!--
--><a href="http://startnext.com/en/tinypalace" title="Support us on Startnext" target="_blank" id="foo-startnext">Startnext</a><!--
--><a href="#newsletter" title="Subscribe to our newsletter" id="foo-mail">Newsletter</a>
    </span></p>
    </div>
  </div>  
  {% endif %}
  </div>  
</div>
<div class="box2">
  <div class="container">
  <div class="box-bar"><img src="/assets/elements/blob2.png"></div>
  <h1>{{site.data.translations[page.lang].box-title-2}}</h1>
  {% if page.lang == "de" %}
  <p>Der Open Call ist leider schon vorbei.</p>
  <p>Dafür gibts aber bald unser Program hier ;)</P>
  {% else %}
  <p>The Open Call is already closed, but soon you'll find our fll program here ;)</p>
  {% endif %}
  </div>
</div>
<div class="box2">
  <div class="container">
  <div class="box-bar"><img src="/assets/elements/blob3.png"></div>
  <h1>{{site.data.translations[page.lang].box-title-3}}</h1>
  <img src="/assets/img/pep.jpg" style="width: 100%;margin-bottom: 3rem;">
  <div class="row" style="text-align: center;">
    {% if page.lang == "de" %}
    <div class="fourth">
    <p><b>Ort</b></p>
    <p><b>Interim</b></br>
    Franz-Ulrich-Straße 16</br>
    Kassel</br>
    <a href="/de/location">Karte anzeigen</a></p>
    </div>
    <div class="fourth">
    <p><b>Offen</b></p>
    <p>Vom <b>20. Mai</b></br>
    Bis <b>22. Mai</b></br>
    Vernissage 19. Mai</p>
    </div>
    <div class="fourth">
    <p><b>Eintritt</b></p>
    <p>&#x2728;Kostenlos!&#x2728;</p>
    </div>
    <div class="fourth">
    <p><b>Kontakt</b></p>
    <p><a href='mailt&#111;&#58;ti&#110;%7&#57;p&#97;lace&#64;p%&#54;F&#37;7&#51;&#37;7&#52;&#101;&#111;&#46;&#100;e'>tin<span style="display:none">REMOVETHIS</span>ypala&#99;e&#64;post&#101;o&#46;d&#101;</a></p>
    </div>
    {% else %}
    <div class="fourth">
    <p><b>Location</b></p>
    <p><b>Interim</b></br>
    Franz-Ulrich-Straße 16</br>
    Kassel, Germany</br>
    <a href="/location">See the map</a></p>
    </div>
    <div class="fourth">
    <p><b>Open</b></p>
    <p>From <b>20th May</b></br>
    To <b>22nd May</b></br>
    Vernissage 19th May</p>
    </div>
    <div class="fourth">
    <p><b>Entry</b></p>
    <p>&#x2728;Free!&#x2728;</p>
    </div>
    <div class="fourth">
    <p><b>Contact</b></p>
    <p><a href='mailt&#111;&#58;ti&#110;%7&#57;p&#97;lace&#64;p%&#54;F&#37;7&#51;&#37;7&#52;&#101;&#111;&#46;&#100;e'>tin<span style="display:none">REMOVETHIS</span>ypala&#99;e&#64;post&#101;o&#46;d&#101;</a></p>
    </div>
    {% endif %}
  </div>  
  </div>
</div>
<div class="box2" style="padding-bottom: 12rem;">
  <div class="container">
  <div class="box-bar"><img src="/assets/elements/blob4.png"></div>
  <h1>{{site.data.translations[page.lang].box-title-4}}</h1>
    {% assign posts=site.posts | where:"lang", page.lang %}
    {% for post in posts limit:2 %}
    {% if post.layout != "page" %}
      <div class="row blog-list">
        <div class="third">
        {% if post.video-id %}
        <div class="video-blog">
          <iframe src="https://player.vimeo.com/video/{{ post.video-id }}?color=53adf9&title=0&byline=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        {% else %}
          <a class="image" href="{{ post.url }}">
        {% assign images = post.content | markdownify | split:"<img " %}
        {% for image in images %}
          {% if image contains 'src=' %}
          {% if image contains 'class="emoji"' %}
          {% else %}
            {% assign imageMarkup = image | split:">" | first %}
            <img style="width: 100%; object-fit: cover; height: 12rem; margin:0;" {{ imageMarkup }}>
            {% break %}
          {% endif %}
          {% endif %}
        {% endfor %}
        {% endif %}
        </a>
        </div>
        <div class="two-third">
          <p><b><a href="{{ post.url }}">{{ post.title }}</a></b><span class="post-date">{% include date.html date=post.date %}</span></p>
          <p>{% assign excerpt = post.content | markdownify | strip_html | truncatewords: 35 %}
              {{ excerpt }}
          <span style="display: inline-block;"><a href="{{ post.url }}">{{site.data.translations[page.lang].readmore}}</a></span></p>
        </div>
      </div>
    {% endif %}
    {% endfor %}
    <p class="open-call-but"><a href="{{ site.baseurl }}/{% if page.lang == "de" %}de/{% endif %}blog">{{site.data.translations[page.lang].moreposts}}</a></p>
  </div>
</div>