<div class="box">
  <div class="content">
  <div class="container">
    <img class="biglogo" alt="TINYPALACE \ 20.-22. MAY \ INTERIM KASSEL" src="/assets/elements/logo-big.png"></img>
  </div>
  </div>
</div>
<div class="box2">
  <div class="container">
  <div class="box-bar"><img src="/assets/elements/blob1.png"></img></div>
  <h1>Pay what-the-flub you want!</h1>
  <div class="video">
    {% if page.lang == "de" %}
    <iframe src="https://player.vimeo.com/video/156843242?color=53adf9&title=0&byline=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    {% else %}
    <iframe src="https://player.vimeo.com/video/156839554?color=53adf9&title=0&byline=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    {% endif %}
    </div>
  <p></br>
  Support us with our crowdfunding over at <a href="http://startnext.com/tinypalace" target="_blank">startnext.com</a>
  </p>
  </div>
</div>
<div class="box2">
  <div class="container">
  <div class="box-bar"><img src="/assets/elements/blob2.png"></img></div>
  <h1>Pay what-the-flub you want!</h1>
    <div class="blog-list">
    {% assign posts=site.posts | where:"lang", page.lang %}
    {% for post in posts limit:2 %}
    {% if post.layout != "page" %}
    {% assign detail="detailnoimg" %}
      <div class="row">
        <div class="half">
        <a class="image" href="{{ post.url }}">
        {% assign images = post.content | markdownify | split:"<img " %}
        {% for image in images %}
          {% if image contains 'src=' %}
          {% if image contains 'class="emoji"' %}
          {% else %}
            {% assign imageMarkup = image | split:">" | first %}
            <img {{ imageMarkup }}>
            {% assign detail="detail" %}
            {% break %}
          {% endif %}
          {% endif %}
        {% endfor %}
        </a>
        </div>
        <div class="half">
          <h3>{{ post.title }}</h3>
          test test</br>
          <a href="{{ post.url }}">Read more...</a>
        </div>
      </div>
    {% endif %}
    {% endfor %}
    </div>
    <a href="/posts">More posts ></a>
  </div>
</div>
<div class="box2">
  <div class="container">
  <div class="box-bar"><img src="/assets/elements/blob3.png"></img></div>
  <h1>Pay what-the-flub you want!</h1>
  </div>
</div>
<div class="box2">
  <div class="container">
  <div class="box-bar"><img src="/assets/elements/blob4.png"></img></div>
  <h1>How to find us</h1>
  </div>
</div>