<div class="box">
  <div class="content">
  <div class="container">
    <img class="biglogo" alt="TINYPALACE" src="/assets/elements/logo.png"></img>
    <p id="tinytext1"><h3>20. - 22. MAY</h3></p>
    <p id="tinytext1"><h3>KASSEL, GERMANY</h3></p>
  </div>
</div>
<div class="box2">
  <div class="container">
  <div class="video">
    <iframe src="https://player.vimeo.com/video/76979871?title=0&byline=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  <p></br>
  Support us with our crowdfunding over at <a href="http://startnext.com/tinypalace" target="_blank">startnext.com</a>
  </p>
  </div>
  </div>
</div>
