<div class="footer">
  <div class="container footer-content">
  <span class="foo-text">Hosted with <a href="https://pages.github.com/" target="_blank">GitHub Pages</a></span><!--
--><span class="foo-text">Funded by love</span><!--
--><span class="foo-text">Imprint</span><!--
--><span class="foo-text">Safer Space Policy</span><!--
--><div class="foo-text"><a href="face" target="_blank" id="foo-facebook">Facebook</a><!--
--><a href="http://twitter.com/tinypalace_" target="_blank" id="foo-twitter">Twitter</a><!--
--><a href="http://startnext.com/tinypalace" target="_blank" id="foo-startnext">Startnext</a><!--
--><a href="mailto:tinypalace@posteo.de" target="_blank" id="foo-mail">Mail</a></div><!--
--></div>
</div>
