<div class="footer">
  <div class="container footer-content">
   <span class="foo-text"><a href="{{ site.baseurl }}/{% if page.lang == "de" %}de/{% endif %}imprint">{{site.data.translations[page.lang].imprint}}</a></span><!--
--><span class="foo-text"><a href="http://christophschnerr.cool/tinypalace/tinypalace-presskit.zip">{{site.data.translations[page.lang].press}}</a></span><!--
--><span class="foo-text"><a href="{{ site.baseurl }}/{% if page.lang == "de" %}de/{% endif %}safer-space">{{site.data.translations[page.lang].readsaferspace}}</a></span><!--
--><div class="foo-text"><a href="https://www.facebook.com/Tinypalace-alternative-games-festival-997872843621455/" title="Facebook" target="_blank" id="foo-facebook">Facebook</a><!--
--><a href="http://twitter.com/tinytinypalace" title="Twitter" target="_blank" id="foo-twitter">Twitter</a><!--
--><a href="/atom.xml" target="_blank" title="Atom Feed" id="foo-atom">Feed</a><!--
--><a href="#newsletter" title="Newsletter" id="foo-mail">Newsletter</a></div><!--
--></div>
</div>
<div id="newsletter" class="overlay">
	<div class="poop">
		<h3>{{site.data.translations[page.lang].newsletter}}</h3>
		<a class="close" href="#close-newsletter">&times;</a>
		<div class="cont">
			<form action="//formspree.io/tinypalace@posteo.de" method="POST"><ul class="form"><input type="text" name="mail" placeholder="{{site.data.translations[page.lang].newsletter-mail}}" /><input type="hidden" name="_next" value="/{% if page.lang == "de" %}de/{% endif %}thanks-newsletter" /><input type="hidden" name="_subject" value="tinypalace - Newsletter" /><input type="text" name="_gotcha" style="display:none" /><input type="submit" value="{{site.data.translations[page.lang].newsletter-submit}}" /></ul></form>
		</div>
	</div>
</div> 
{% if page.title == "Home" %}
<div class="foo-magic">
<div class="foo-text"><a href="https://www.facebook.com/Tinypalace-alternative-games-festival-997872843621455/" title="Facebook" target="_blank" id="foo-facebook">Facebook</a><!--
--><a href="http://twitter.com/tinytinypalace" title="Twitter" target="_blank" id="foo-twitter">Twitter</a><!--
--><a href="#newsletter" title="Newsletter" id="foo-mail">Newsletter</a></div>
</div>
{% endif %}