<script>
  function detectCFScript() {
    var cfScript = Array.prototype.find.call(document.scripts, function(s) {
      return s !== document.currentScript && s.textContent.indexOf('__cf_email__') > -1;
    });

    if (cfScript)
      this.addEventListener('hy-push-state-load', new Function(cfScript.textContent));

    this.removeEventListener('hy-push-state-init', detectCFScript);
  }

  document
    .getElementsByTagName('hy-push-state')[0]
    .addEventListener('hy-push-state-init', detectCFScript);
</script>
