{% assign color = site.color %}
{% assign image = site.image %}

{% if page.tag %}
  {% assign tag = site.data.tags[page.tag] %}
  {% if tag.color %}{% assign color = tag.color %}{% endif %}
  {% if tag.image %}{% assign image = tag.image %}{% endif %}
{% else %}
  {% if page.tags.size > 0 %}
    {% assign tag_name = page.tags[0] %}
    {% assign tag = site.data.tags[tag_name] %}
    {% if tag.color %}{% assign color = tag.color %}{% endif %}
    {% if tag.image %}{% assign image = tag.image %}{% endif %}
  {% endif %}
{% endif %}

{% if page.color %}{% assign color = page.color %}{% endif %}
{% if page.image %}{% assign image = page.image %}{% endif %}

<style id="_pageStyle">
  html {
    font-family: {{ site.font }};
  }

  h1, h2, h3, h4, h5, h6, .heading {
    font-family: {{ site.font_heading }};
    font-weight: bold;
  }

  .content a {
    color: {{ color }};
  }

  :focus {
    outline-color: {{ color }};
  }

  ::selection {
    color: #fff;
    background: {{ color }};
  }

  ::-moz-selection {
    color: #fff;
    background: {{ color }};
  }

  .sidebar {
    background-color: {{ color }};
    {% if image != "none" %}
      background-image: url('{{ image }}');
    {% endif %}
  }
</style>
