{% assign posts=site.posts | where:"lang", page.lang %}
{% for post in posts %}
{% if post.layout != "page" %}
  <div class="row blog-list">
  <div class="third">
  {% if post.video-id %}
  <div class="video-blog">
  <iframe src="https://player.vimeo.com/video/{{ post.video-id }}?color=53adf9&title=0&byline=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  {% else %}
  <a class="image" href="{{ post.url }}">
  {% assign images = post.content | markdownify | split:"<img " %}
  {% for image in images %}
  {% if image contains 'src=' %}
  {% if image contains 'class="emoji"' %}
  {% else %}
  {% assign imageMarkup = image | split:">" | first %}
  <img style="width: 100%; object-fit: cover; height: 12rem; margin:0;" {{ imageMarkup }}>
  {% break %}
  {% endif %}
  {% endif %}
  {% endfor %}
  {% endif %}
  </a>
  </div>
  <div class="two-third">
  <p><b><a href="{{ post.url }}">{{ post.title }}</a></b><span class="post-date">{% include date.html date=post.date %}</span></p>
  <p>{% assign excerpt = post.content | markdownify | strip_html | truncatewords: 35 %}
  {{ excerpt }}
  <span style="display: inline-block;"><a href="{{ post.url }}">{{site.data.translations[page.lang].readmore}}</a></span></p>
  </div>
  </div>
{% endif %}
{% endfor %}