<h2 class="sr-only">Pagination</h2>
<nav class="pagination heading" role="navigation">
  <ul>
    <li class="pagination-item older" >
      {% if paginator.next_page %}
        <a rel="next" href="{{ site.baseurl }}{{ paginator.next_page_path }}">Older</a>
      {% else %}
        <span>Older</span>
      {% endif %}
    </li>
    <li class="pagination-item newer" >
      {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
          <a rel="prev" href="{{ site.baseurl }}/">Newer</a>
        {% else %}
          <a rel="prev" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">Newer</a>
        {% endif %}
      {% else %}
        <span>Newer</span>
      {% endif %}
    </li>
  </ul>
</nav>
