{% assign post = include.post %}

<article id="post-{{ post.id | slice: 1,9999 }}" class="post" role="article">
  <h1 class="post-title">
  {% if include.link_title %}<a href="{{ post.url | prepend:site.baseurl }}" data-flip="title">{% endif %}
    {{ post.title }}
  {% if include.link_title %}</a>{% endif %}
  </h1>

  {% if post.tags.size > 0 %}
    {% capture tags_content %}on {% endcapture %}
    {% for post_tag in post.tags %}
      {% capture separator %}{% if forloop.last == false %}, {% endif %}{% endcapture %}
      {% assign tag = site.featured_tags | where: "slug", post_tag | first %}
      {% if tag %}
        {% capture tags_content_temp %}{{ tags_content }}<a href="{{ site.baseurl }}/tag/{{ post_tag }}/" data-flip="title">{{ tag.title }}</a>{{ separator }}{% endcapture %}
      {% else %}
        {% capture tags_content_temp %}{{ tags_content }}<span>#{{ post_tag }}</span>{{ separator }}{% endcapture %}
      {% endif %}
      {% assign tags_content = tags_content_temp %}
    {% endfor %}
  {% else %}
    {% assign tags_content = '' %}
  {% endif %}

  <div class="post-date heading">
    <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%m/%d/%y" }}</time>
    <span>{{ tags_content }}</span>
  </div>

  {% if post.description %}
    {% comment %}
      Adding the "message" class to the last (and usually only) paragraph of the description.
    {% endcomment %}
    {% capture desc %}{{ post.description }}{:.message}{% endcapture %}
    {{ desc | markdownify }}
  {% endif %}

  <hr/>

  {{ post.content }}

</article>
