<!--[if gt IE 8]><!---->
<style>
  {% capture include_to_scssify %}
  {% include styles/projects.scss %}
  {% endcapture %}
  {{ include_to_scssify | scssify }}
</style>
<!--<![endif]-->

{% assign ordered_projects = site.projects | sort:"date" %}
{% for project in ordered_projects reversed %}
  {% assign currentdate = project.date | date: "%Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}</div><br/>{% endunless %}
    <h2 id="y{{project.date | date: "%Y"}}">{{ currentdate }}</h2>
    <div class="projects">
    {% assign date = currentdate %}
  {% endif %}
    {% include project.html project = project %}
  {% if forloop.last %}</div><br/>{% endif %}
{% endfor %}
