{% assign post = include.post %}

<aside class="related" role="complementary">
  <h2>Related Posts</h2>

  <ul class="related-posts">
    {% if site.data.custom.use_lsi %}
      {% for post in site.related_posts limit:3 %}
        {% include post-list-item.html post=post format="%m/%d/%y" %}
      {% endfor %}
    {% elsif post.tags.first != null %}
      {% assign tag_name = post.tags.first %}
      {% assign tag_posts = site.tags[tag_name] %}
      {% assign plusone = false %}

      {% for post in tag_posts limit:4 %}
        {% if post.url == page.url %}
          {% assign plusone = true %}
          {% continue %}
        {% endif %}
        {% if forloop.index < 4 or plusone == true %}
          {% include post-list-item.html post=post format="%m/%d/%y" %}
        {% endif %}
      {% endfor %}
    {% else %}
      {% for post in site.related_posts limit:3 %}
        {% include post-list-item.html post=post format="%m/%d/%y" %}
      {% endfor %}
    {% endif %}
  </ul>
</aside>
