{% assign custom = site.data.custom %}

<!--[if gt IE 8]><!---->
<script>loadJSDeferred('{{ site.baseurl }}/public/js/hydejack-{{ site.version }}.js');</script>

<!-- Web fonts -->
{% if custom.load_google_fonts or custom.author.social %}
<script>
  WebFontConfig = {
    {% if custom.load_google_fonts %}
    google: {
      families: '{{ custom.load_google_fonts }}'.split('|')
    },
    {% endif %}

    {% if custom.author.social %}
    custom: {
      families: ['icomoon'],
      urls: ['{{ site.baseurl }}/public/css/icons.css']
    },
    {% endif %}

    classes: false,
    events: false
  };
  loadJSDeferred('https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js');
</script>
{% endif %}

<!-- Google Analytics -->
{% if custom.google_analytics_id %}
<script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', '{{ custom.google_analytics_id }}', 'auto');
  ga('send', 'pageview');
  loadJSDeferred('https://www.google-analytics.com/analytics.js');
</script>
{% endif %}
<!--<![endif]-->
