{% if site.google_analytics %}
<script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', '{{ site.google_analytics }}', 'auto');
  ga('send', 'pageview');
  loadJSDeferred('https://www.google-analytics.com/analytics.js');
</script>
{% endif %}

{% unless page.redirect %}
  <!--[if gt IE 9]><!---->
  {% capture js_url %}{% link assets/js/hydejack.js %}?v=6.6.1{% endcapture %}
  <script>loadJSDeferred('{{ js_url | relative_url }}');</script>

  {% include my-scripts.html %}
  <!--<![endif]-->
{% endunless %}
