<div style="float: right">
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><img class="social-icon" src="/public/social/facebook-color.svg"/></a>
    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on LinkedIn"><img class="social-icon" src="/public/social/linkedin-color.svg"/></a>
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on LinkedIn"><img class="social-icon" src="/public/social/google-plus-color.svg"/></a>
</div>