<div class="sidebar">
  <div>
    <div class="sidebar-about">
      <h1>
        <img src="https://raw.githubusercontent.com/smartlingtestdocs/smartlingtestdocs.github.io/master/Images/SmartlingLogo-HC.png">
      </h1>
    </div>


    <form method="get" action="http://www.google.com/search">

      <input type="text" class="search-field"  name="q"
             maxlength="255" placeholder="Search Docs..." />
      <!--<input type="submit" value="Go" />-->
      <input type="hidden" name="sitesearch" value="smartlingtestdocs.github.io" /></td></tr>

    </form>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}"><i class="fa fa-home"></i> Home</a>
      <a class="sidebar-nav-item" href="/How-this-Works/"><i class="fa fa-cogs"></i> How This Works</a>
      <a class="sidebar-nav-item" href="/Whats-included/"><i class="fa fa-check-square-o"></i> What's Included</a>
      <a class="sidebar-nav-item" href="/file-API/"><i class="fa fa-file-o"></i> File API</a>
      <a class="sidebar-nav-item" href="/Download-file/"><i class="fa fa-cloud-download"></i> Download File</a>
      <a class="sidebar-nav-item" href="/Supported-file-types/"><i class="fa fa-thumbs-up"></i> Supported File Types</a>
      <a class="sidebar-nav-item" href="/java-properties-files/"><i class="fa fa-coffee"></i> Java Properties</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
