<div id="_yDrawer">
  <header id="_sidebar" class="sidebar" role="banner">
    <div class="sidebar-bg" style="background-color:{{ color }};background-image:url({{ image }})"></div>
    <div class="container sidebar-sticky">
      <div class="sidebar-about">
        <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
        {{ site.data.custom.description | markdownify }}
      </div>

      <nav class="sidebar-nav heading" role="navigation">
        {% include nav.html %}
      </nav>

      {% if site.data.custom.author.social %}
      <div class="sidebar-social">
        {% include social.html social=site.data.custom.author.social %}
      </div>
      {% endif %}
    </div>
  </header>
</div>
