<div class="sidebar">
  <div class="container sidebar-sticky">
    <!-- <img src="public/avic.jpg"> -->
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>

    </div>

    <nav class="sidebar-nav">
      <ul>
         {% for item in site.data.navlinks.docs %}
              <a class="sidebar-nav-item{% if page.url == item.url %} active{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
         {% endfor %}
      </ul>
    </nav>
  </div>
</div>
