<ul>
{% for link in include.social %}
  {% assign platform = link[0] %}
  {% assign username = link[1] %}

  {% if username contains "//" %}
    {% include social-list-item.html platform=platform url=username %}
  {% else %}
    {% case platform %}
      {% when "facebook" %}
        {% assign url = "https://facebook.com/" | append: username %}
        {% include social-list-item.html platform=platform url=url %}

      {% when "instagram" %}
        {% assign url = "https://instagram.com/" | append: username %}
        {% include social-list-item.html platform=platform url=url %}

      {% when "twitter" %}
        {% assign url = "https://twitter.com/" | append: username %}
        {% include social-list-item.html platform=platform url=url %}

      {% when "vine" %}
        {% assign url = "https://vine.com/" | append: username %}
        {% include social-list-item.html platform=platform url=url %}

      {% when "google" %}
        {% assign url = "https://plus.google.com/" | append: username %}
        {% include social-list-item.html platform=platform url=url %}

      {% when "spotify" %}
        {% assign url = "https://play.spotify.com/" | append: username %}
        {% include social-list-item.html platform=platform url=url %}

      {% when "soundcloud" %}
        {% assign url = "https://soundcloud.com/" | append: username %}
        {% include social-list-item.html platform=platform url=url %}

      {% when "lastfm" %}
        {% assign url = "http://www.last.fm/user/" | append: username %}
        {% include social-list-item.html platform=platform url=url %}

      {% when "twitch" %}
        {% assign url = "https://www.twitch.tv/" | append: username %}
        {% include social-list-item.html platform=platform url=url %}

      {% when "steam" %}
        {% assign url = "http://steamcommunity.com/profiles/" | append: username %}
        {% include social-list-item.html platform=platform url=url %}

      {% when "youtube" %}
        {% assign url = "https://www.youtube.com/channel/" | append: username %}
        {% include social-list-item.html platform=platform url=url %}

      {% when "vimeo" %}
        {% assign url = "https://www.vimeo.com/" | append: username %}
        {% include social-list-item.html platform=platform url=url %}

      {% when "flickr" %}
        {% assign url = "https://flickr.com/people/" | append: username %}
        {% include social-list-item.html platform=platform url=url %}

      {% when "dribbble" %}
        {% assign url = "https://dribbble.com/" | append: username %}
        {% include social-list-item.html platform=platform url=url %}

      {% when "behance" %}
        {% assign url = "https://www.behance.net/" | append: username %}
        {% include social-list-item.html platform=platform url=url %}

      {% when "deviantart" %}
        {% assign url = ".deviantart.com" | prepend: username | prepend: "https://" %}
        {% include social-list-item.html platform=platform url=url %}

      {% when "500px" %}
        {% assign url = "https://500px.com/" | append: username %}
        {% include social-list-item.html platform=platform url=url %}

      {% when "github" %}
        {% assign url = "https://github.com/" | append: username %}
        {% include social-list-item.html platform=platform url=url %}

      {% when "npm" %}
        {% assign url = "https://npmjs.com/~" | append: username %}
        {% include social-list-item.html platform=platform url=url %}

      {% when "ello" %}
        {% assign url = "https://ello.co/" | append: username %}
        {% include social-list-item.html platform=platform url=url %}

      {% when "tumblr" %}
        {% assign url = ".tumblr.com" | prepend: username | prepend: "http://" %}
        {% include social-list-item.html platform=platform url=url %}

      {% when "blogger" %}
        {% assign url = "https://www.blogger.com/profile/" | append: username %}
        {% include social-list-item.html platform=platform url=url %}

      {% when "reddit" %}
        {% assign url = "https://www.reddit.com/user/" | append: username %}
        {% include social-list-item.html platform=platform url=url %}

      {% when "hackernews" %}
        {% assign url = "https://news.ycombinator.com/user?id=" | append: username %}
        {% include social-list-item.html platform=platform url=url %}

      {% when "linkedin" %}
        {% assign url = "https://www.linkedin.com/in/" | append: username %}
        {% include social-list-item.html platform=platform url=url %}

      {% when "xing" %}
        {% assign url = "https://www.xing.com/profile/" | append: username %}
        {% include social-list-item.html platform=platform url=url %}

      {% when "stackoverflow" %}
        {% assign url = "http://stackoverflow.com/users/" | append: username %}
        {% include social-list-item.html platform=platform url=url %}

      {% when "trello" %}
        {% assign url = "https://trello.com/" | append: username %}
        {% include social-list-item.html platform=platform url=url %}

      {% when "pinterest" %}
        {% assign url = "https://www.pinterest.com/" | append: username %}
        {% include social-list-item.html platform=platform url=url %}

      {% when "paypal" %}
        {% assign url = "https://www.paypal.me/" | append: username %}
        {% include social-list-item.html platform=platform url=url %}

      {% when "foursquare" %}
        {% assign url = "https://foursquare.com/user/" | append: username %}
        {% include social-list-item.html platform=platform url=url %}

      {% when "yelp" %}
        {% assign url = "https://www.yelp.com/user_details?userid=" | append: username %}
        {% include social-list-item.html platform=platform url=url %}

      {% when "delicious" %}
        {% assign url = "http://del.icio.us/" | append: username %}
        {% include social-list-item.html platform=platform url=url %}

      {% when "stumbleupon" %}
        {% assign url = "http://www.stumbleupon.com/stumbler/" | append: username %}
        {% include social-list-item.html platform=platform url=url %}

      {% when "vk" %}
        {% assign url = "https://vk.com/" | append: username %}
        {% include social-list-item.html platform=platform url=url %}

      {% else %}
        {% include social-list-item.html platform=platform url=username %}
    {% endcase %}
  {% endif %}
{% endfor %}
</ul>
