{% if include.img.src or include.img.srcset %}
  {% if include.img.srcset %}
    {% capture srcset %}
      {% for hash in include.img.srcset %}{{ hash[1]}} {{ hash[0] }}{% unless forloop.last %},{% endunless %}{% endfor %}
    {% endcapture %}
  {% endif %}

  <img
    class="{{ include.class }}"
    alt="{{ include.alt }}"
    src="{{ include.img.src }}"
    srcset="{{ srcset | strip }}"
    sizes="{{ include.sizes }}"
  />
{% else %}
  <img
    class="{{ include.class }}"
    alt="{{ include.alt }}"
    src="{{ include.img }}"
  />
{% endif %}
