$gray: #9a9a9a;
$gray-bg: #f8f8f8;
$gray-text: #787878;

$root-font-size: 16px;
$root-font-size-medium: 17px;
$root-font-size-large: 18px;
$root-line-height: 1.65;

$body-color: #333;
$body-bg: #fff;

$border-color: #e5e5e5;
$border-color-light: #eee;

$code-font-family: Menlo, Monaco, Consolas, monospace;
$code-color: inherit;
$code-bg: rgba(0,0,0,.02);

$break-point-1: 42em;           //  640px
$break-point-2: 54em;           //  864px
$break-point-3: 64em;           // 1024px
$break-point-4: 72em;           // 1152px
$break-point-5: 90em;           // 1440px
$break-point-dynamic: 98.5em;   // 1576px
$break-point-font-large: 125em; // 2000px

$dynamic-width: calc(50% - 28rem);
