/*
 * Author: Carlos Alvarez
 * URL: http://alvarez.is
 *
 * Project Name: Emma Carberry
 * Version: 1.0
 * URL: http://blacktie.co
 */

@font-face {
    font-family: 'tisaproregular';
    src: url('../fonts/TisaPro-Regular-webfont.eot');
    src: url('../fonts/TisaPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TisaPro-Regular-webfont.woff2') format('woff2'),
         url('../fonts/TisaPro-Regular-webfont.woff') format('woff'),
         url('../fonts/TisaPro-Regular-webfont.ttf') format('truetype'),
         url('../fonts/TisaPro-Regular-webfont.svg#tisaproregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'TisaOT-Ita';
  src: url('../fonts/TisaOT-Ita.eot?#iefix') format('../fonts/embedded-opentype'),  url('../fonts/TisaOT-Ita.otf')  format('opentype'),
         url('../fonts/TisaOT-Ita.woff') format('woff'), url('../fonts/TisaOT-Ita.ttf')  format('truetype'), url('../fonts/TisaOT-Ita.svg#TisaOT-Ita') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'brandon_grotesque_regularRg';
    src: url('../fonts/brandon_reg-webfont.eot');
    src: url('../fonts/brandon_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandon_reg-webfont.woff') format('woff'),
         url('../fonts/brandon_reg-webfont.ttf') format('truetype'),
         url('../fonts/brandon_reg-webfont.svg#brandon_grotesque_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'brandon_grotesquebold';
    src: url('../fonts/brandon_bld-webfont.eot');
    src: url('../fonts/brandon_bld-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandon_bld-webfont.woff') format('woff'),
         url('../fonts/brandon_bld-webfont.ttf') format('truetype'),
         url('../fonts/brandon_bld-webfont.svg#brandon_grotesquebold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'brandon_grotesqueRgIt';
    src: url('../fonts/brandon_reg_it-webfont.eot');
    src: url('../fonts/brandon_reg_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandon_reg_it-webfont.woff') format('woff'),
         url('../fonts/brandon_reg_it-webfont.ttf') format('truetype'),
         url('../fonts/brandon_reg_it-webfont.svg#brandon_grotesqueRgIt') format('svg');
    font-weight: normal;
    font-style: normal;

}

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  	background-color: #f9ece5;
  	font-family: 'tisaproregular', helvetica, 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #5c5c5c;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
	font-family: 'brandon_grotesque_regularRg','Montserrat', sans-serif;
    font-weight: normal;
    color: #4d4d4d;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1.2em;
    font-weight: 300;
    font-style: normal;
}  

h1 {
	font-size: 35px;
	margin-top: 30px;
	margin-bottom: 30px;
}

h2 {
    font-size: 28px;
}
h3 {
    font-size: 20px;
    text-transform: uppercase;
}
h4 {
   font-size: 15px; 
}

/* Paragraph & Typographic */
p {
    line-height: 30px;
    margin-bottom: 25px;
    font-size: 20px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #5c5c5c;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}
i {
    font-style: normal;
    font-family: 'TisaOT-Ita';
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.nav {
    font-family: 'brandon_grotesque_regularRg', helvetica, sans-serif;
}
.navbar-brand {
    font-family: 'brandon_grotesquebold', helvetica, sans-serif;
    font-weight: normal;
}
.navbar {
	text-transform: uppercase;
	margin-bottom: 0px;
    padding: 40px 0px;
}

.navbar-inverse {
	padding-bottom: 70px;
	padding-top: 70px;
}

.navbar-inverse {
	background-color: #1abc9c;
	border-color: #16a085;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #222222;
}

.navbar-brand {
    font-family: 'brandon_grotesquebold', helvetica, sans-serif;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 20px;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-toggle {
	border-color: transparent;
}
.navbar-toggle .icon-bar {
      background-color: #5c5c5c;
}
.progress-bar-theme {
  background-color: #1abc9c;
}


/* Helpers */

.mt {
	margin-top: 30px;
	margin-bottom: 30px;
}

.pt {
	padding-top: 30px;
	padding-bottom: 30px;
}


/* +++++ WRAP SECTIONS +++++ */

#about-wrap {
	padding-top: 70px;
	
}
#about-wrap p {
    font-size: 27px;
    line-height: 1.5em;
    border-bottom: 1px solid #aaaaaa;
    padding-bottom: 60px;
}

.home-project-title {
    font-family: 'TisaOT-Ita';
    text-align: left;
}

/* +++++ Project Page +++++ */ 
#project .title {
    font-family: 'brandon_grotesque_regularRg';
    font-weight:normal;
    text-transform: uppercase;
    color: #5c5c5c;
}
#project h3 {
    margin-top: 11px;
}
h3.sub-title {
  padding-bottom: 30px;
}
#project h4 {
    font-family: 'brandon_grotesqueRgIt';
    line-height: 1.4em;
    margin-top: 20px;
    margin-bottom: 40px;
}
#project h4 a {
    color: #888888;
}
.project-image {
    margin-bottom: 60px;
}
.project-description {
    text-align: left;
    border-bottom: 1px solid #aaaaaa;
    border-top: 1px solid #aaaaaa;
    margin: 60px 0px 60px;
    padding: 60px 0px 40px;
}




#footer {
	
	padding-top: 50px;
	padding-bottom: 50px; 
}

#footer p {
font-family: 'TisaOT-Ita';
    font-weight: normal;
    text-transform: ;
    font-size: 14px;
    color: #aaaaaa;
}
#footer span {
 font-family: 'tisaproregular';   
}
#footer h4 {
	font-family: 'brandon_grotesque_regularRg';
    font-weight: normal;
	text-transform: uppercase;
	padding-bottom: 20px;
}


/* +++++ Color Wraps / Blog Page +++++ */

#grey {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #f2f2f2;
}

#white {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #ffffff;
}



/* Blog Date*/
bd {
	font-size: 12px;
	text-transform: uppercase;
	color: #d2d2d2;
	font-weight: 700;
}

/* Blog Author*/
ba {
	font-size: 12px;
	text-transform: uppercase;
}

/* Blog Quote */
.bq {
	font-size: 22px;
	padding-top: 30px;
}

/* Blog Tags */
bt {
	font-size: 12px;
}

/* ================== PORTFOLIO IMAGES HOVER EFFECT ================== */
/* Effects also are controled by hover.zoom.js */
.zoom { 
    display:block; 
    position:relative; 
    overflow:hidden; 
    background:transparent url(../img/loader.gif) no-repeat center;
}


    .zoomOverlay {
        position:absolute;
        top:0; left:0;
        bottom:0; right:0;
        display:none;
        background-image:url(../img/zoom.png);
        background-repeat:no-repeat;
        background-position:center;
    }

.zoom2 {
	opacity: 1;
}

.zoom2:hover {
	opacity: 0.5;
}

/* glyphicon Configuration */

.glyphicon {
	font-size: 40px;
	color: #1abc9c;
}
.img-responsive {
	width:100%;
}