// Body resets
//
// Update the foundational and global aspects of the page.

// article,aside,dialog,figcaption,figure,footer,header,hgroup,main,nav,section{display:block}
// mark{background:#FF0;color:#000}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;
}

// html,
// body {
//   margin: 0;
//   padding: 0;
// }
//
// html {
//   font-size: $root-font-size;
//   line-height: $root-line-height;
// }
//
// body {
//   color: $body-color;
//   background-color: $body-bg;
//   overflow-y: scroll;
// }
//
// // No `:visited` state is required by default (browsers will use `a`)
// a {
//   text-decoration: none;
// }
//
// .lead {
//   margin-left: -1rem;
//   margin-right: -1rem;
// }
//
// img, .img {
//   display: block;
//   max-width: 100%;
//   margin: 0 0 1rem;
//   border: none;
//
//   &.lead {
//     max-width: calc(100% + 2rem);
//     width: calc(100% + 2rem);
//   }
// }

@media print {
  a::after {
    content: " (" attr(href) ") ";
    font-size: smaller;
  }
}
