* {
  box-sizing: border-box; // inline
  // -webkit-tap-highlight-color: transparent; // link
}

// <<<<< INLINE
html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: $root-font-size;
  line-height: $root-line-height;
}

body {
  color: $body-color;
  background-color: $body-bg;
  overflow-y: scroll;
}

// No `:visited` state is required by default (browsers will use `a`)
a {
  text-decoration: none;
}

.lead {
  margin-left: -1rem;
  margin-right: -1rem;
}

.content img, .img {
  display: block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: none;

  &.lead {
    max-width: calc(100% + 2rem);
    width: calc(100% + 2rem);
  }
}
// >>>>> INLINE

// <<<<< LINK
@media print {
  a::after {
    content: " (" attr(href) ") ";
    font-size: 0.83em;
  }
}
// >>>>> LINK
