@mixin figure() {
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 1rem;
  background-color: #f9f9f9;
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
