// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

.page, .post {
  // margin-bottom: 2em;
  //
  // li + li {
  //   margin-top: .25rem;
  // }
  //
  // > header {
  //   margin-bottom: 2rem;
  // }
}

// Blog post or page title
.page-title, .post-title {
  // margin-top: 0;
}

// Meta data line below post title
.post-date {
  // display: block;
  // margin-top: -0.5rem;
  // margin-bottom: 1rem;
  // color: $gray;
}

hr.dingbat {
  border: 0;
}

hr.dingbat::after {
  content: "\2756"; // ❖
  display: block;
  text-align: center;
  font-size: 1.5rem;
  color: #ddd;
}
