// Related posts

.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.related-posts {
  padding-left: 0;
  list-style: none;

  > li {
    margin-top: 1rem;
    > * {
      font-weight: normal;
    }
  }
}
