// Typography
//
// Headings, body text, lists, and other misc typographic elements.

// h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .heading {
//   font-weight: bold;
//   text-rendering: optimizeLegibility;
// }
//
// h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
//   margin: 2rem 0 1rem;
//   line-height: 1.55;
// }
//
// h1, .h1 {
//   font-size: 2rem;
//   line-height: 1.25;
// }
//
// h2, .h2 {
//   font-size: 1.5rem;
// }
//
// h3, .h3 {
//   font-size: 1.17em;
// }
//
// p {
//   margin-top: 0;
//   margin-bottom: 1rem;
//
//   &.lead {
//     font-size: 1.25rem;
//     font-weight: 300;
//   }
// }
//
// ul, ol, dl {
//   margin-top: 0;
//   margin-bottom: 1rem;
// }
//
// hr {
//   position: relative;
//   margin: 1.5rem 0;
//   border: 0;
//   border-top: 1px solid #eee;
//   border-bottom: 1px solid #fff;
// }
//
// h4, h5, h6, .h4, .h5, .h6 {
//   margin-bottom: 0.5rem;
//   font-size: 1rem;
// }

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;

  &[title] {
    cursor: help;
    border-bottom: 1px dotted #e5e5e5;
  }
}

blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;

  p:last-child {
    margin-bottom: 0;
  }
}
