---
layout: default
---

{% assign tag = site.data.tags[page.tag] %}

{% if tag %}
  {% assign title = tag.name %}
  {% assign description = tag.description %}
  {% assign posts = site.tags[page.tag] %}
{% else %}
  {% assign title = page.title %}
  {% assign description = page.description %}
  {% assign posts = site.posts %}
{% endif %}

{% if title != null %}
  {% capture heading %}<h1 class="page-title">{{ title }}</h1>{% endcapture %}
  {% include about-short.html heading=heading author=site.data.author %}

  {% if description %}
    {% capture desc %}{{ description }}{:.message}{% endcapture %}
    {{ desc | markdownify }}
  {% endif %}
{% endif %}

{{ content }}

<!--[if gt IE 8]><!---->
<style>
  {% capture include_to_scssify %}
  {% include styles/projects.scss %}
  {% endcapture %}
  {{ include_to_scssify | scssify }}
</style>
<!--<![endif]-->

<h2>Projects</h2>
{% assign ordered_projects = site.projects | sort:"date" | reverse %}
{% assign is_newline = true %}
{% for project in ordered_projects limit:2 %}
  {% if is_newline %}<div class="grid">{% endif %}

  <div class="col-1-2">{% include project-card.html project = project %}</div>

  {% unless is_newline %}</div>{% endunless %}

  {% if forloop.last %}
    {% if is_newline %}</div>{% endif %}
  {% endif %}

  {% if is_newline %}
    {% assign is_newline = false %}
  {% else %}
    {% assign is_newline = true %}
  {% endif %}
{% endfor %}


<h2>Blog</h2>
{% for post in posts %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}</ul><hr/>{% endunless %}
    <h3 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h3>
    <ul class="related-posts">
    {% assign date = currentdate %}
  {% endif %}
  {% include post-list-item.html post=post format="%m/%d" %}
  {% if forloop.last %}</ul><hr/>{% endif %}
{% endfor %}
