<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <header class="masthead">
      <div class="masthead-inner">
        <h1>{{ site.title }}</h1>
        <p class="lead">{{ site.description }}</p>

        <div class="colophon">
          <ul class="colophon-links">
            <li>
              <a href="https://github.com/mdo/hyde/archive/v{{ site.version }}.zip">Download</a>
            </li>
            <li>
              <a href="https://github.com/mdo/hyde">GitHub project</a>
            </li>
            <li>Currently v{{ site.version }}</li>
          </ul>
          <p>&copy; 2014. {{ site.author.name }} All rights reserved.</p>
        </div>
      </div>
    </header>

    <div class="content container">
      {{ content }}
    </div>

  </body>
</html>
