---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
</div>
See also: <br>
{% for entry in page.see_also %}
file: {{ entry.file }} <br>
directory: {{ site.glossary.directory }} <br>
relativepath: {{ site.glossary.relative_path }} <br>
absoluteurl: {{ absolute_url }} <br>
prepend: {{ entry.file | absolute_url }} <br>
label: {{ site.glossary.label }} <br>
<a href="{{ entry.file | absolute_url }}">{{ entry.title }}</a></h1> <br>

<a href="{{ entry.file | site.glossary.directory | absolute_url }}">{{ entry.title }}</a></h1> <br>
{% endfor %}