---
layout: base
---

{% assign strings = site.data.strings %}

<div class="page">
  <h1 class="page-title">{{ page.title | default:strings.not_found.title | default: "404: Page Not Found" }}</h1>
  <div class="hr pb0"></div>

  {% assign test = page.content | strip_newlines %}
  {% if test != "" %}
    {{ content }}
  {% else %}
    {% capture home_link %}<a href="{{ '/' | relative_url }}">{{ strings.not_found.home_link | default:"Head back home" }}</a>{% endcapture %}
    {% assign text = strings.not_found.message
      | default:"Sorry, we've misplaced that URL or it's pointing to something that doesn't exist. <!--home_link--> to try finding it again." %}
    <p class="lead">
      {{ text | replace:"<!--home_link-->", home_link }}
    </p>
  {% endif %}
</div>
