---
layout: default
---
<!-- Clarity tracking code for https://blog.ajomathew.dev/ --><script>    (function(c,l,a,r,i,t,y){        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i+"?ref=bwt";        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);    })(window, document, "clarity", "script", "6zjz4tmecp");</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173531397-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-173531397-1');
</script>

<meta property="og:locale" content="en_US">
<meta property="og:type" content="article">
<meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">

{% if page.summary %}
<meta name="description" content="{{ page.summary | escape }}">
{% endif %}
{%if page.tags %}
<meta name="keywords" content="{{ page.tags | join: ', ' | escape }}"/>
{%endif %}

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  <span class="post-date">
    {% assign author = site.data.authors[page.author] %}

    <!-- Output author details if some exist. -->
    {% if author %}
    <span>
      <!-- Personal Info. -->
      Written by <a href="{{ author.web }}">{{ author.name }}</a>
    </span>
    {% endif %}
  </span>
  {{ content }}
</div>

{% if site.related_posts.size >= 1 %}
<div class="related">
  <h2>Related posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
    <li>
      <h3>
        <a href="{{ post.url | absolute_url }}">
          {{ post.title }}
          <small>{{ post.date | date_to_string }}</small>
        </a>
      </h3>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
