$color-sidebar: rgba(255,255,255,.5);
$color-sidebar-background: #000;
$color-sidebar-text: #fff;

$color-accent-active: #2072B2;
$color-accent-inactive: gray;

$color-content-background: white;
$color-content-text: #000000;
$color-content-date: #fff;

$color-text-title: white;

$color-hyperlinks: #20b2a9;